<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("img").each(function (i, x) {
            var id = x.getAttribute("id");
            if (id == null || id == undefined)
                return;
            var lib = x.getAttribute("lib");
            if (lib != null) {
                x.setAttribute("src", "api/Download/" + id + "/sp/" + lib);
            }
            else {
                x.setAttribute("src", "api/Download/" + id);
            }
            $("span[id=" + id + "]").addClass("hidden");
        });
    });
</script>

@{
    var sql = "select top 10 null as documentbody,annotationid,createdbyname,createdon,filename,filesize,isdocument,mimetype,modifiedbyname,modifiedon,notetext,objectidtype,subject from annotation where 1=1 ";
    if (!string.IsNullOrEmpty(Request.QueryString["id"]))
    {
        sql = $"{sql} and annotationid='{Request.QueryString["id"]}'";
    }
    string objectid = null;
    if (!string.IsNullOrEmpty(Request.QueryString["cid"]))
    {
        objectid = Request.QueryString["cid"];
        sql = $"{sql} and objectid='{Request.QueryString["cid"]}'";
    }
    sql = $"{sql} order by createdon desc";
    var images = wsa_webapis.Sql4Cds.SqlQuery.Execute(sql) as System.Data.DataTable;
    seaspan.hcwpce.sharepoint.Models.SPAnnotation ann = new seaspan.hcwpce.sharepoint.Models.SPAnnotation(objectid);
    <div>&nbsp;</div>
    if (images == null || images.Rows.Count == 0)
    {
        ann.LoadImages();
        if (ann.Annotiations.Count == 0)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    No Data
                </div>
            </div>
        }
    }
    if (images != null)
    {
        foreach (System.Data.DataRow image in images.Rows)
        {
            var annotation = new wsa_webapis.Models.Annotation(image);
            <div class="panel panel-default note">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span> @annotation.createdbyname &nbsp;&nbsp;
                    <span class="glyphicon glyphicon-calendar"></span> @annotation.createdon
                    <div class="imglogo">
                        <img style="height:32px;" src="~/Images/WSA_Horizontal_clr_cobrand.jpg" />
                    </div>
                </div>
                <div class="panel-body" style="break-inside:avoid; page-break-inside:avoid;">
                    @{
                        if (!string.IsNullOrEmpty(annotation.subject))
                        {
                            <div><h4>@annotation.subject</h4></div>
                        }
                        if (!string.IsNullOrEmpty(annotation.notetext))
                        {
                            <div>@Html.Raw(annotation.notetext)</div>
                        }
                        var fname = $"{annotation.filename}".ToLower().Trim();
                        if (annotation.mimetype.ToLower().StartsWith("image/") || fname.Contains(".jpg") || fname.Contains(".jepg") || fname.Contains(".png"))
                        {
                            <div style="text-align:center;"><img id="@annotation.annotationid" src="" alt="@annotation.filename" class="noteimg" style="max-width:100%;" /><span class="imgloading" id="@annotation.annotationid">Loading</span></div>
                        }
                        else if (annotation.mimetype.ToLower().StartsWith("video/"))
                        {
                            var url = $"api/Download/{annotation.annotationid}";
                            var html1 = $"<span class='glyphicon glyphicon-download-alt'></span> <a href='{url}' alt='{annotation.filename}'>{annotation.filename}</a>";
                            <video src="@url" controls="controls" width="100%"></video>
                            <div>@Html.Raw(html1)</div>
                        }
                        else if (annotation.mimetype.Length > 0)
                        {
                            var url = $"api/Download/{annotation.annotationid}";
                        var html1 = $"<span class='glyphicon glyphicon-download-alt'></span> <a href='{url}' alt='{annotation.filename}'>{annotation.filename}</a>";
                            <div>@Html.Raw(html1)</div>
                        }
                    }
                </div>
            </div>
        }
        if (ann.Annotiations.Count > 0)
        {
            foreach (var annotation in ann.Annotiations)
            {
                <div class="panel panel-default note">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-user"></span> @annotation.CreatedBy.LookupValue &nbsp;&nbsp;
                        <span class="glyphicon glyphicon-calendar"></span> @annotation.CreatedOn
                    </div>
                    <div class="panel-body" style="break-inside:avoid; page-break-inside:avoid;">
                        @{
                            if (!string.IsNullOrEmpty(annotation.subject))
                            {
                                <div><h4>@annotation.subject</h4></div>
                            }
                            if (!string.IsNullOrEmpty(annotation.notetext))
                            {
                                <div>@Html.Raw(annotation.notetext)</div>
                            }
                            if (annotation.mimetype.ToLower().StartsWith("image/"))
                            {
                                <div style="text-align:center;"><img id="@annotation.annotationid" lib="@annotation.LibraryName" src="" alt="@annotation.filename" class="noteimg" style="max-width:100%;" /><span class="imgloading" id="@annotation.annotationid">Loading</span></div>
                            }
                            else if (annotation.mimetype.ToLower().StartsWith("video/"))
                            {
                                var url = $"api/Download/{annotation.annotationid}/sp/{annotation.LibraryName}";
                                var html1 = $"<span class='glyphicon glyphicon-download-alt'></span> <a href='{url}' alt='{annotation.filename}'>{annotation.filename}</a>";
                                <video src="@url" controls="controls" width="100%"></video>
                                <div>@Html.Raw(html1)</div>
                            }
                            else if (annotation.mimetype.Length > 0)
                            {
                                var url = $"api/Download/{annotation.annotationid}/sp/{annotation.LibraryName}";
                                var html1 = $"<span class='glyphicon glyphicon-download-alt'></span> <a href='{url}' alt='{annotation.filename}'>{annotation.filename}</a>";
                                <div>@Html.Raw(html1)</div>
                            }
                        }
                    </div>
                </div>
            }
        }
    }


}